$gray: #333;
$lightGray: #999;
$red: #b50707;
$border: 1px solid rgba(0, 0, 0, 0.3);
$lightShaddow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
$mediumShadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
$grayHover: rgba(0, 0, 0, 0.1);
