@import "@styles";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  opacity: 0.3;
}

.image {
  width: 400px;
  margin-bottom: 20px;

  @include media(small) {
    width: 100%;
  }
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;

  @include media(small) {
    font-size: 28px;
  }
}
